/*详情页头部*/
.detail{
    position:relative;
    height: 10794px;
    background-color: #fcfcfc;
}
.detail_header{
    width: 100%;
    height: 38px;
    background-color: #f6f6f6;
    position: absolute;
    top:-3px;
    border-bottom: 1px solid #e1e1e1;
}
.detail_header_center{
    height: 38px;
}
.detail_header_center ul{
    float:left;
    list-style: none;
    width: 350px;
}
.detail_header_center ul li{
    float:left;
    height: 38px;
    width: 54px;
    text-align: center;
}
.detail_header_center ul li:nth-child(4),.detail_header_center ul li:nth-child(5){
    width: 78px;
}
.detail_header_center ul li a{
    color: rgba(0,0,0,.5);
    line-height: 38px;
    text-decoration: none;
    font-size:12px;
}
.detail_header_right{
    float:right;
    height: 38px;
    width: 60px;
}
.detail_header_right a{
    color: rgba(0,0,0,.5);
    line-height: 38px;
    text-decoration: none;
    font-size:12px;
}
/*购物车模块*/
.gouwuche{
    position: fixed;
    width: 100%;
    height: 60px;
    /*bottom: 0;*/
    left: 0;
    right: 0;
    background: #fafafa;
    border-top: 1px solid #e3e3e3;
    box-shadow: 0 -1px 3px rgba(0,0,0,.04);
    z-index: 25;
    line-height: 20px;
    border-bottom:1px solid  #e6e6e6;
}
.gouwuche>div{
    width: 1220px;
    line-height: 20px;
    margin: 12px auto 0;
}
.gouLeft{
    color: #333;
    font-size: 12px;
    font-weight: 500;
    margin-right: 20px;
    float: left;
}
.guaige{
    margin-right: 20px;
    float: left;
    width: 127px;
    height: 41px;
}
.guaige h1{
    font-size: 79%;
    font-weight: 400;
}
.guaige h1>span:first-child{
    color: #333;
    float: left;
    font-weight: 700;
}
.guaige h1>span:last-child{
    margin-left: 15px;
    color: #d44d44;
    float: left;
    font-weight: 700;
}
.guaige h1>span:last-child i{
    font-style: normal;
    font-size: 12px;
}
.guaige h1>span:last-child span{
    font-weight: 700;
    color: #d44d44;
    font-size: 100%;
}
.guaige h2{
    font-size: 12px;
    color: #9d9d9d;
}
.guaige h2>span{
    font-weight: 500;
}
.otherSelect{
    margin-left: 20px;
    float: left;
    line-height: 20px;
    font-size: 14px;
    color: #666;
}
.otherSelect>div{
    display: inline-block;
    width: 1px;
    height: 32px;
    background: #e1e1e1;
    float: left;
    margin-right:20px;
}
.otherSelect h1{
    font-size: 100%;
    font-weight: 600;
    color: #666;
}
.otherSelect h2{
    font-size: 12px;
    color: #d44d44;
    width: 200px;
    font-weight: 400;
}
.car{
    position:absolute;
    right:452px;
    border: 1px solid #dedede;
    color: #646464;
    font-weight: 700;
    background-color: #f8f8f8;
    background-image: linear-gradient(#fbfbfb,#f5f5f5);
    width: 118px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 6px;
    float: right;
    font-size: 14px;
}
.nowbuy{
    position: absolute;
    right:321px;
    width: 118px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 6px;
    background-color: #6383c6;
    background-image: linear-gradient(#6383c6,#4262af);
    font-weight: 700;
}
.nowbuy a{
    display: block;
    height: 34px;
    line-height: 34px;
    padding: 2px 0;
    border-radius: 6px;
    background-color: #5f7ed7;
    background-image: linear-gradient(#6f97e5,#527ed9);
    box-shadow: inset 0 1px 2px #7ea1e8;
    text-shadow: 0 -1px 0 #4f70b3;
    color: #fff;
    transition: none;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}
/*价格标签*/
.pricen{
    position:absolute;
    font-size: 20px;
    font-weight: 500;
    color: #d44d44;
    line-height: 40px;
    right:591px;
}
.pricen i{
    font-style: normal;
}
/*详情页具体内容*/
.detail_include{
    width: 100%;
    height: 990px;
    border-bottom: 1px solid #e1e1e1;
    position:absolute;
    top:37px;
}
.detail_include_center{
    height: 940px;
    padding-top: 50px;
}
.detail_left,.detail_right{
    float:left;
    height: 940px;
}
.detail_left{
    width: 621px;
}
/*详情页右边*/
.detail_right{
    width: 559px;
}
.detail_right_top{
    width: 559px;
    height: 114px;
    padding-bottom:30px;
    border-bottom: 1px solid #e1e1e1;
}
.detail_right_top h1{
    font-size: 30px;
    color: #000;
    font-weight: 400;
}
.detail_right_top h2{
    color: #999;
    font-size: 14px;
    line-height: 25px;
    padding-top: 20px;
    font-weight: 400;
}
.detail_right_center{
    width: 559px;
    height: 52px;
    padding: 30px 0px;
    border-bottom: 1px solid #e1e1e1;
    position:relative;
}
.detail_right_center span{
    width: 85px;
    height: 28px;
    line-height: 28px;
    color: #666;
    font-size: 14px;
    float: left;
}
/*买赠*/
.detail_right_center_cu{
    width: 472px;
    height: 52px;
    position: absolute;
    right:0px;
}
.detail_right_center_cu div:first-child{
    width: 472px;
    height: 18px;
    margin-bottom:14px;
}
.detail_right_center_cu div:first-child span:first-child,.detail_right_center_cu div:last-child span:first-child{
    width: 24px;
    height: 18px;
    display:inline-block;
    margin-right: 10px;
    color: #d44d44;
    background: #fce9e8;
    margin-top: -1px;
    text-align: center;
    padding: 0 8px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 13px;
    border: 1px solid #d44d44;
}
.detail_right_center_cu div:last-child{
    height: 20px;
    width: 472px;
}
.detail_right_center_cu div:first-child span:last-child,.detail_right_center_cu div:last-child span:last-child{
    width: 417px;
    height: 20px;
    color: gray;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
}
/*颜色选择按钮*/
.detail_right_center_selector{
    width: 559px;
    height: 119px;
    margin-top:30px;
    position:absolute;
    top:83px;
    border-bottom: 1px solid #e1e1e1;
}
.detail_right_center_selector>span{
    width: 85px;
    height: 28px;
    line-height: 28px;
    color: #666;
    font-size: 14px;
    float: left;
    margin-top:38px;
}
.selector_dot{
    width: 472px;
    height: 93px;
    position:absolute;
    right:0px;
    top:26px;
}
.selector_dot ul{
    list-style: none;
}
.selector_dot ul li{
    float:left;
    width: 157px;
    height: 38px;
}
.selector_dot ul li:last-child{
    margin-top:7px;
}
#selector_dot_include li span{
    width: 36px;
    height: 36px;
    display: inline-block;
}
#selector_dot_include li:first-child span i{
    border:3px solid #999;
}
#selector_dot_include li span i{
    border:2px solid #e5e5e5;
    padding: 2px;
    display: inline-block;
    border-radius: 50%;
    color: #666;
}
#selector_dot_include li span i img{
    display: block;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
#selector_dot_include li label{
    display:inline-block;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    width: 106px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    margin-left:13px;
}
/*容量选择*/
.detail_right_center_rom{
    width: 559px;
    height: 110px;
    margin-bottom:30px;
    position:absolute;
    top:234px;
    border-bottom: 1px solid #e1e1e1;
}
.detail_right_center_rom span{
    width: 85px;
    height: 28px;
    line-height: 28px;
    color: #666;
    font-size: 14px;
    float: left;
    margin-top:38px;
}
.detail_right_center_rom .rom{
    list-style: none;
}
.detail_right_center_rom .rom li{
    float:left;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    transition: box-shadow .15s linear;
    margin-right: 10px;
    width: 116px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-top: 30px;
}
.detail_right_center_rom .rom li:first-child{
    border: 1px solid #6a8fe6;
}
/*保险服务*/
.baoxian{
    width: 559px;
    height: 390px;
    padding: 30px 0px;
    position: absolute;
    top:345px;
}
.span_left{
    height: 390px;
    width: 85px;
    float:left;
}
.span_left span{
    width: 85px;
    height: 28px;
    line-height: 28px;
    color: #666;
    font-size: 14px;
    float: left;
    margin-top:28px;
}
/*保险具体内容*/
.baoxin_detail{
    height: 420px;
    width: 473px;
    float:left;
}
.baoxin_detail ul{
    list-style: none;
}
.baoxin_detail ul li:first-child{
    width: 472px;
    height: 74px;
    margin-bottom:20px;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
}
.baoxin_detail ul li:last-child {
    width: 472px;
    height: 74px;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
}
.baoxin_detail1_left,.baoxin_detail2_left{
    float:left;
}
.baoxin_detail1_right,.baoxin_detail2_right{
    float:right;
}
.baoxin_detail ul h1{
    font-size: 18px;
    font-weight: 400;
    margin-top: 13px;
    margin-left:21px;
}
.baoxin_detail ul p{
    font-size: 14px;
    margin-top: 11px;
    color: #999;
    margin-left:21px
}
/*.baoxin_detail ul h2 span,.baoxin_detail ul h2{*/
    /*font-size: 14px;*/
    /*color:#d44d44;*/
/*}*/
.baoxin_detail1_right h2,.baoxin_detail2_right h2{
    color:#d44d44;
    font-size: 14px;
    margin-top:7px;
    font-weight: 500;
    margin-right:23px;
}
.baoxin_detail1_right h2>i,.baoxin_detail2_right h2>i{
    color: #d44d44;
    font-size: 21px;
    font-style:normal;

}
.baoxin_bottom{
    height: 248px;
    width: 473px;
}
.baoxin_bottom_left{
    width: 70px;
    height: 248px;
    font-size: 12px;
    color: #666;
    font-weight: 700;
    padding-top:17px;
    float:left;
}
.baoxin_bottom_right{
    height: 248px;
    width: 399px;
    float:right;
    padding-top:12px;
}
.baoxin_bottom_right p{
    font-size: 12px;
    color: #7a7a7a;
    line-height: 24px;
}
.baoxin_bottom_right p:last-child{
    margin-top:11px;
}
/*产品技术规格页*/
.product{
    width: 100%;
    height: 9765px;
    position:absolute;
    top:1029px;
    background:#ffffff;
}
.header_product{
    height: 27px;
    padding:60px 0px;
}
.header_product span{
    font-size: 24px;
    font-weight: 700;
    color: #333;
}
/*详情大图*/
.product_pic{
    position:absolute;
    top:1176px;
    width: 100%;
}
.product_pic img{
    display:block;
    width: 1220px;
}
